<!DOCTYPE html>
<html>

<head>
    <title>Page not found</title>
    <link rel="stylesheet" href="stylesheet/error.css" type=text/css>


</head>

<body>
    <div title="404">404</div>


</body>

</html>