<!DOCTYPE html>
<html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Notoxy | Serving Notes</title>
    <!-- Stylesheet -->

    <link rel=stylesheet type="text/css" href="stylesheet/bootstrap.css">
    <link rel=stylesheet type="text/css" href="stylesheet/home.css">

    <!-- Javascript -->

    <!--     
    <script type="text/javascript" src="js/snap-scroll.js"></script>
    <script type="text/javascript" src="js/snap-scroll.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     -->
    <script type="text/javascript" src="js/home.js"></script>

</head>

<body class="text-center">


    <div class="cover-container d-flex w-100 h-100 p-5 mx-auto flex-column">
        <div class="inner" style="text-align: center;">
            <nav class="nav nav-masthead" style="display:inline-flex;float:none">
                <a class="nav-p" href="#">HOME</a>
                <a class="nav-p" href="#">SEMESTERS</a>
                <a class="nav-p" href="#">ABOUT</a>
            </nav>
        </div>
        <main role="main" class="inner cover" style="margin-top: 21vh;">
            <h1 class="cover-heading" style="font-size: 10vh;"><b>Notoxy</b></h1>
            <br>

            <p class="lead" style="font-weight: 500;">Missed your classes ? Then this is the perfect portal to access all the notes, question papers and books.

            </p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-dark">Get Started</a>
            </p>
        </main>
    </div>


</body>

</html>