<!DOCTYPE HTML>
<html>

<head>
    <title>notestack</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="stylesheet/home.css" type=text/css>
    <link rel="stylesheet" href="stylesheet/home_social.css" type=text/css>
    <link rel="stylesheet" href="stylesheet/buttons.css" type=text/css>

    <script type="text/javascript" src="js/main.js"></script>
</head>

<body id="top">



    <div class=container>
        <li>
            <section id="banner">
                <div class="inner">
                    <header>
                        <svg id=logo viewBox="0 0 921 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40.536 28.648C50.136 28.648 57.912 31.576 63.864 37.432C69.816 43.192 72.792 51.544 72.792 62.488V109H59.832V64.36C59.832 56.488 57.864 50.488 53.928 46.36C49.992 42.136 44.616 40.024 37.8 40.024C30.888 40.024 25.368 42.184 21.24 46.504C17.208 50.824 15.192 57.112 15.192 65.368V109H2.08801V30.088H15.192V41.32C17.784 37.288 21.288 34.168 25.704 31.96C30.216 29.752 35.16 28.648 40.536 28.648Z" stroke="white" stroke-width="4"/>
                            <path d="M155.253 110.296C147.861 110.296 141.141 108.616 135.093 105.256C129.141 101.896 124.437 97.144 120.981 91C117.621 84.76 115.941 77.56 115.941 69.4C115.941 61.336 117.669 54.232 121.125 48.088C124.677 41.848 129.477 37.096 135.525 33.832C141.573 30.472 148.341 28.792 155.829 28.792C163.317 28.792 170.085 30.472 176.133 33.832C182.181 37.096 186.933 41.8 190.389 47.944C193.941 54.088 195.717 61.24 195.717 69.4C195.717 77.56 193.893 84.76 190.245 91C186.693 97.144 181.845 101.896 175.701 105.256C169.557 108.616 162.741 110.296 155.253 110.296ZM155.253 98.776C159.957 98.776 164.373 97.672 168.501 95.464C172.629 93.256 175.941 89.944 178.437 85.528C181.029 81.112 182.325 75.736 182.325 69.4C182.325 63.064 181.077 57.688 178.581 53.272C176.085 48.856 172.821 45.592 168.789 43.48C164.757 41.272 160.389 40.168 155.685 40.168C150.885 40.168 146.469 41.272 142.437 43.48C138.501 45.592 135.333 48.856 132.933 53.272C130.533 57.688 129.333 63.064 129.333 69.4C129.333 75.832 130.485 81.256 132.789 85.672C135.189 90.088 138.357 93.4 142.293 95.608C146.229 97.72 150.549 98.776 155.253 98.776Z" stroke="white" stroke-width="4"/>
                            <path d="M255.571 40.888V87.4C255.571 91.24 256.387 93.976 258.019 95.608C259.651 97.144 262.483 97.912 266.515 97.912H276.163V109H264.355C257.059 109 251.587 107.32 247.939 103.96C244.291 100.6 242.467 95.08 242.467 87.4V40.888H232.243V30.088H242.467V10.216H255.571V30.088H276.163V40.888H255.571Z" stroke="white" stroke-width="4"/>
                            <path d="M390.68 66.52C390.68 69.016 390.536 71.656 390.248 74.44H327.176C327.656 82.216 330.296 88.312 335.096 92.728C339.992 97.048 345.896 99.208 352.808 99.208C358.472 99.208 363.176 97.912 366.92 95.32C370.76 92.632 373.448 89.08 374.984 84.664H389.096C386.984 92.248 382.76 98.44 376.424 103.24C370.088 107.944 362.216 110.296 352.808 110.296C345.32 110.296 338.6 108.616 332.648 105.256C326.792 101.896 322.184 97.144 318.824 91C315.464 84.76 313.784 77.56 313.784 69.4C313.784 61.24 315.416 54.088 318.68 47.944C321.944 41.8 326.504 37.096 332.36 33.832C338.312 30.472 345.128 28.792 352.808 28.792C360.296 28.792 366.92 30.424 372.68 33.688C378.44 36.952 382.856 41.464 385.928 47.224C389.096 52.888 390.68 59.32 390.68 66.52ZM377.144 63.784C377.144 58.792 376.04 54.52 373.832 50.968C371.624 47.32 368.6 44.584 364.76 42.76C361.016 40.84 356.84 39.88 352.232 39.88C345.608 39.88 339.944 41.992 335.24 46.216C330.632 50.44 327.992 56.296 327.32 63.784H377.144Z" stroke="white" stroke-width="4"/>
                            <path d="M462.553 110.296C456.505 110.296 451.081 109.288 446.281 107.272C441.481 105.16 437.689 102.28 434.905 98.632C432.121 94.888 430.585 90.616 430.297 85.816H443.833C444.217 89.752 446.041 92.968 449.305 95.464C452.665 97.96 457.033 99.208 462.409 99.208C467.401 99.208 471.337 98.104 474.217 95.896C477.097 93.688 478.537 90.904 478.537 87.544C478.537 84.088 477.001 81.544 473.929 79.912C470.857 78.184 466.105 76.504 459.673 74.872C453.817 73.336 449.017 71.8 445.273 70.264C441.625 68.632 438.457 66.28 435.769 63.208C433.177 60.04 431.881 55.912 431.881 50.824C431.881 46.792 433.081 43.096 435.481 39.736C437.881 36.376 441.289 33.736 445.705 31.816C450.121 29.8 455.161 28.792 460.825 28.792C469.561 28.792 476.617 31 481.993 35.416C487.369 39.832 490.249 45.88 490.633 53.56H477.529C477.241 49.432 475.561 46.12 472.489 43.624C469.513 41.128 465.481 39.88 460.393 39.88C455.689 39.88 451.945 40.888 449.161 42.904C446.377 44.92 444.985 47.56 444.985 50.824C444.985 53.416 445.801 55.576 447.433 57.304C449.161 58.936 451.273 60.28 453.769 61.336C456.361 62.296 459.913 63.4 464.425 64.648C470.089 66.184 474.697 67.72 478.249 69.256C481.801 70.696 484.825 72.904 487.321 75.88C489.913 78.856 491.257 82.744 491.353 87.544C491.353 91.864 490.153 95.752 487.753 99.208C485.353 102.664 481.945 105.4 477.529 107.416C473.209 109.336 468.217 110.296 462.553 110.296Z" stroke="white" stroke-width="4"/>
                            <path d="M552.475 40.888V87.4C552.475 91.24 553.291 93.976 554.923 95.608C556.555 97.144 559.387 97.912 563.419 97.912H573.067V109H561.259C553.963 109 548.491 107.32 544.843 103.96C541.195 100.6 539.371 95.08 539.371 87.4V40.888H529.147V30.088H539.371V10.216H552.475V30.088H573.067V40.888H552.475Z" stroke="white" stroke-width="4"/>
                            <path d="M610.688 69.256C610.688 61.192 612.32 54.136 615.584 48.088C618.848 41.944 623.312 37.192 628.976 33.832C634.736 30.472 641.12 28.792 648.128 28.792C655.04 28.792 661.04 30.28 666.128 33.256C671.216 36.232 675.008 39.976 677.504 44.488V30.088H690.752V109H677.504V94.312C674.912 98.92 671.024 102.76 665.84 105.832C660.752 108.808 654.8 110.296 647.984 110.296C640.976 110.296 634.64 108.568 628.976 105.112C623.312 101.656 618.848 96.808 615.584 90.568C612.32 84.328 610.688 77.224 610.688 69.256ZM677.504 69.4C677.504 63.448 676.304 58.264 673.904 53.848C671.504 49.432 668.24 46.072 664.112 43.768C660.08 41.368 655.616 40.168 650.72 40.168C645.824 40.168 641.36 41.32 637.328 43.624C633.296 45.928 630.08 49.288 627.68 53.704C625.28 58.12 624.08 63.304 624.08 69.256C624.08 75.304 625.28 80.584 627.68 85.096C630.08 89.512 633.296 92.92 637.328 95.32C641.36 97.624 645.824 98.776 650.72 98.776C655.616 98.776 660.08 97.624 664.112 95.32C668.24 92.92 671.504 89.512 673.904 85.096C676.304 80.584 677.504 75.352 677.504 69.4Z" stroke="white" stroke-width="4"/>
                            <path d="M734.641 69.4C734.641 61.24 736.273 54.136 739.537 48.088C742.801 41.944 747.313 37.192 753.073 33.832C758.929 30.472 765.601 28.792 773.089 28.792C782.785 28.792 790.753 31.144 796.993 35.848C803.329 40.552 807.505 47.08 809.521 55.432H795.409C794.065 50.632 791.425 46.84 787.489 44.056C783.649 41.272 778.849 39.88 773.089 39.88C765.601 39.88 759.553 42.472 754.945 47.656C750.337 52.744 748.033 59.992 748.033 69.4C748.033 78.904 750.337 86.248 754.945 91.432C759.553 96.616 765.601 99.208 773.089 99.208C778.849 99.208 783.649 97.864 787.489 95.176C791.329 92.488 793.969 88.648 795.409 83.656H809.521C807.409 91.72 803.185 98.2 796.849 103.096C790.513 107.896 782.593 110.296 773.089 110.296C765.601 110.296 758.929 108.616 753.073 105.256C747.313 101.896 742.801 97.144 739.537 91C736.273 84.856 734.641 77.656 734.641 69.4Z" stroke="white" stroke-width="4"/>
                            <path d="M897.709 109L866.75 74.152V109H853.646V2.44H866.75V65.08L897.133 30.088H915.422L878.269 69.4L915.565 109H897.709Z" stroke="white" stroke-width="4"/>
                            </svg>




                        <p><i><span class=subtitle>noun. &nbsp A collection of notes</span></i></p>
                    </header>

                </div>
            </section>
        </li>

        <!-- Main -->
        <li>
            <div id="main">
                <h1 class="semesterheading" style="text-align: center;font-size: 3em;margin-top: -1.5em;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Semesters</h1>
                <div class="inner">

                    <!-- Boxes -->
                    <div class="thumbnails">

                        <div class="box">
                            <a href="" class="image fit">
                                <!-- <img src="images/pic01.jpg" alt="" /> -->
                            </a>
                            <div class="inner">
                                <h3>1st Semester</h3>
                                <p>This semester is the introductory semester for all the BTech. undergrad. The subjects taught is common for all branches.</p>
                                <a href="/sem1" class="btn2">
                                  Sem One
                                  </a>
                            </div>
                        </div>


                        <div class="box">
                            <a href="" class="image fit">
                                <!-- <img src="images/pic01.jpg" alt="" /> -->
                            </a>
                            <div class="inner">
                                <h3>2nd Semester</h3>
                                <p>This semester is the introductory semester for all the BTech. undergrad. The subjects taught is common for all branches.</p>
                                <a href="/sem2" class="btn2">Sem Two</a>
                            </div>
                        </div>
                        <div class="box">
                            <a href="" class="image fit">
                                <!-- <img src="images/pic01.jpg" alt="" /> -->
                            </a>
                            <div class="inner">
                                <h3>3rd Semester</h3>
                                <p>This semester is the introductory semester for all the BTech. undergrad. The subjects taught is common for all branches.</p>
                                <a href="/sem2" class="btn2">Sem Three</a>
                            </div>
                        </div>
                        <div class="box">
                            <a href="" class="image fit">
                                <!-- <img src="images/pic01.jpg" alt="" /> -->
                            </a>
                            <div class="inner">
                                <h3>4th Semester</h3>
                                <p>This semester is the introductory semester for all the BTech. undergrad. The subjects taught is common for all branches.</p>
                                <a href="/sem2" class="btn2">Sem Four</a>
                            </div>
                        </div>
                        <div class="box">
                            <a href="" class="image fit">
                                <!-- <img src="images/pic01.jpg" alt="" /> -->
                            </a>
                            <div class="inner">
                                <h3>5th Semester</h3>
                                <p>This semester is the introductory semester for all the BTech. undergrad. The subjects taught is common for all branches.</p>
                                <a href="/sem2" class="btn2">Sem Five</a>
                            </div>
                        </div>
                        <div class="box">
                            <a href="" class="image fit">
                                <!-- <img src="images/pic01.jpg" alt="" /> -->
                            </a>
                            <div class="inner">
                                <h3>6th Semester</h3>
                                <p>This semester is the introductory semester for all the BTech. undergrad. The subjects taught is common for all branches.</p>
                                <a href="/sem2" class="btn2">Sem Six</a>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </li>
        <li>
            <div class="foot">
                <div class="fingers">
                    <a class="footlink"><b>Semesters</b></a>
                    <a class="footlink" href="/sem1">1st Sem</a>
                    <a class="footlink" href="/sem2">2nd Sem</a>
                </div>
                <div class=fingers>
                    <a class="footlink"><b>Contact Us</b></a>

                    <ul class="social-networks spin-icon">
                        <br>

                        <li><a href="https://www.facebook.com/" class="icon-facebook">Facebook</a></li>



                        <li><a href="https://instagram.com" class="icon-instagram">Instagram</a></li>

                    </ul>
                </div>

                <div class=fingers>
                    <a class="footlink"><b>About</b></a>
                    <a class="footlink">Idea</a>
                    <a class="footlink">Services</a>
                </div>
            </div>
        </li>
        <!-- Footer -->
        <li>
            <footer id="footer">
                <div class="inner">
                    <h2>notestack v1.0</h2>
                    <p>The idea was simple, to give notes and class materials to college students. But wasn't it too vaguely distributed across Whatsapp and G-Classroom. We bring you a study portal where all the materials are available and well organised.
                    </p>
                </div>

            </footer>

        </li>
        <li>
            <div class="meettheteam">
                <div> </div>
                <a href="/team" class="btn10">Meet the Team</a>
                <div> </div>
            </div>
        </li>



    </div>


</body>

</html>