<!DOCTYPE HTML>
<html>

<head>
    <title>notestack</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="stylesheet/home.css" type=text/css>
    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/jquery.poptrox.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
</head>

<body id="top">


    <div class=container>
        <li>
            <section id="banner">
                <div class="inner">
                    <header>
                        <h1 style="font-family: ClaudeSansItalicPlain;">notestack</h1>
                        <p><i>noun. &nbsp A collection of notes</i></p>
                        <p>Missed your classes ? Then this is the perfect portal to access all the notes, question papers and books.</p>
                    </header>
                    <a href="#main" class="more">Learn More</a>
                </div>
            </section>
        </li>

        <!-- Main -->
        <li>
            <div id="main" name=main>
                <div class="inner">

                    <!-- Boxes -->
                    <div class="thumbnails">

                        <div class="box">
                            <a href="" class="image fit">
                                <img src="images/pic01.jpg" alt="" />
                            </a>
                            <div class="inner">
                                <h3>1st Semester</h3>
                                <p>This semester is the introductory semester for all the BTech. undergrad. The subjects taught is common for all branches.</p>
                                <a href="/sem1" class="button">Sem One</a>
                            </div>
                        </div>


                        <div class="box">
                            <a href="" class="image fit">
                                <!-- <img src="images/pic01.jpg" alt="" /> -->
                            </a>
                            <div class="inner">
                                <h3>2nd Semester</h3>
                                <p>This semester is the introductory semester for all the BTech. undergrad. The subjects taught is common for all branches.</p>
                                <a href="" class="button fit" data-poptrox="">Sem Three</a>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </li>

        <!-- Footer -->
        <li>
            <footer id="footer">
                <div class="inner">
                    <h2>notestack v1.0</h2>
                    <p>The idea was simple, to give notes and class materials to college students. But wasn't it too vaguely distributed across Whatsapp and G-Classroom. We bring you a study portal where all the materials are available and well organised.
                    </p>

                    <ul class="icons">
                        <!-- Social Networking to be used after few versions.  -->


                        <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li> -->
                    </ul>
                </div>
            </footer>
        </li>
    </div>



</body>

</html>