<!DOCTYPE html>
<html>

<head>
    <title>Semester 1</title>
    <link rel="stylesheet" href="stylesheet/sem1/sem1.css" type=text/css>
    <link rel="stylesheet" href="stylesheet/sem1/sem1.scss" type=text/css>
</head>

<body>

    <div class="wrapper no-scrollbar">

        <h4>Computer Science and Engineering</h4>
        <div>
            <ul class="hs full">

                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/csfront.gif)">
                            <h1 class="text-shadow">CS101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/csfront.gif)">
                            <h1 class="text-shadow">CS101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/csfront.gif)">
                            <h1 class="text-shadow">CS101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/csfront.gif)">
                            <h1 class="text-shadow">CS101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/csfront.gif)">
                            <h1 class="text-shadow">CS101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/csfront.gif)">
                            <h1 class="text-shadow">CS101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/csfront.gif)">
                            <h1 class="text-shadow">CS101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/csfront.gif)">
                            <h1 class="text-shadow">CS101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/csfront.gif)">
                            <h1 class="text-shadow">CS101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/csfront.gif)">
                            <h1 class="text-shadow">CS101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <hr>

        <h4>Electrical Science and Engineering</h4>
        <div>
            <ul class="hs full">

                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/ecfront.jpg)">
                            <h1 class="text-shadow">EC101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/ecfront.jpg)">
                            <h1 class="text-shadow">EC101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cs/ecfront.jpg)">
                            <h1 class="text-shadow">EC101</hi>
                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <hr>


</body>

</html>