<!DOCTYPE html>
<html>

<head>
    <title>Semester 1</title>
    <link rel="stylesheet" href="stylesheet/sem1/sem1.css" type=text/css>
    <link rel="stylesheet" href="stylesheet/sem1/sem1.scss" type=text/css>
</head>

<body>

    <div class="wrapper no-scrollbar">

        <h4>Computer Science and Engineering [CS101]</h4>
        <div>
            <ul class="hs full">
                <% doc.forEach(function(Doc){ %>
                    <li class="item">
                        <div class="flip">
                            <div class="front" style="background-image: url(../image/cover/csfront.gif)">
                                <h1 class="text-shadow">
                                    <%= Doc.subject_code %>
                                </h1>
                                <h1 class="authorname">by
                                    <%= Doc.author%> <span class="date"><%= Doc.dateuploaded%></span></h1>

                            </div>
                            <div class="back">
                                <h2>About</h2>
                                <p>Author :
                                    <%= Doc.dateuploaded%>

                                </p>
                            </div>
                        </div>
                    </li>
                    <% }) %>
            </ul>
        </div>

        <hr>

        <h4>Electrical Science and Engineering</h4>
        <div>
            <ul class="hs full">

                <li class="item">
                    <div class="flip">
                        <div class="front" style="background-image: url(../image/cover/ecfront.jpg)">
                            <h1 class="text-shadow">EC101</h1>
                            <h1 class="authorname">by Rahul Jain <span class="date">20/03/2020</span></h1>

                        </div>
                        <div class="back">
                            <h2>About</h2>
                            <p>Author : Rahul Jain</p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>
    <hr>


</body>

</html>