<!DOCTYPE html>
<html>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<head>
    <title>Under Develepment</title>
    <link rel="stylesheet" href="stylesheet/udp.css" type=text/css>

    <link rel="stylesheet" href="stylesheet/buttons.css" type=text/css>

</head>

<body>
    <div class=ref>
        <div></div>
        <div class="q1">
            <svg id=logo width="893" height="67" viewBox="0 0 893 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d)">
                <path d="M5.96875 4.28516H15.6719L23.125 37.2969L32.3711 4.28516H40.5625L49.9141 37.2969L57.2969 4.28516H67L55.3633 56H45.9062L36.3789 22.5664L27.0273 56H17.6758L5.96875 4.28516Z" stroke="black" stroke-width="3"/>
                <path d="M83.2014 2C84.8889 2 86.3303 2.60938 87.5256 3.82812C88.7444 5.04688 89.3538 6.52344 89.3538 8.25781C89.3538 9.96875 88.7561 11.4336 87.5608 12.6523C86.3655 13.8477 84.9358 14.4453 83.2717 14.4453C81.5608 14.4453 80.0959 13.8359 78.8772 12.6172C77.6819 11.375 77.0842 9.875 77.0842 8.11719C77.0842 6.42969 77.6819 4.98828 78.8772 3.79297C80.0725 2.59766 81.5139 2 83.2014 2ZM78.385 17.75H88.0178V56H78.385V17.75Z" stroke="black" stroke-width="3"/>
                <path d="M101.477 2.98438H111.075V56H101.477V2.98438Z" stroke="black" stroke-width="3"/>
                <path d="M124.534 2.98438H134.132V56H124.534V2.98438Z" stroke="black" stroke-width="3"/>
                <path d="M184.077 2.98438V21.9688C185.812 20.2344 187.687 18.9336 189.702 18.0664C191.718 17.1992 193.874 16.7656 196.171 16.7656C201.163 16.7656 205.405 18.6523 208.898 22.4258C212.39 26.1992 214.136 31.0391 214.136 36.9453C214.136 42.6406 212.331 47.4102 208.722 51.2539C205.113 55.0742 200.835 56.9844 195.89 56.9844C193.687 56.9844 191.636 56.5977 189.738 55.8242C187.839 55.0273 185.952 53.7383 184.077 51.957V56H174.55V2.98438H184.077ZM194.167 25.625C191.144 25.625 188.636 26.6562 186.644 28.7188C184.652 30.7812 183.655 33.4766 183.655 36.8047C183.655 40.2031 184.652 42.957 186.644 45.0664C188.636 47.1523 191.144 48.1953 194.167 48.1953C197.097 48.1953 199.558 47.1289 201.55 44.9961C203.566 42.8633 204.573 40.1445 204.573 36.8398C204.573 33.5586 203.589 30.875 201.62 28.7891C199.652 26.6797 197.167 25.625 194.167 25.625Z" stroke="black" stroke-width="3"/>
                <path d="M266.162 39.6523H235.33C235.775 42.3711 236.958 44.5391 238.88 46.1562C240.826 47.75 243.298 48.5469 246.298 48.5469C249.884 48.5469 252.966 47.293 255.544 44.7852L263.63 48.582C261.615 51.4414 259.201 53.5625 256.388 54.9453C253.576 56.3047 250.236 56.9844 246.369 56.9844C240.369 56.9844 235.482 55.0977 231.708 51.3242C227.935 47.5273 226.048 42.7812 226.048 37.0859C226.048 31.25 227.923 26.4102 231.673 22.5664C235.447 18.6992 240.169 16.7656 245.841 16.7656C251.865 16.7656 256.763 18.6992 260.537 22.5664C264.31 26.4102 266.197 31.4961 266.197 37.8242L266.162 39.6523ZM256.529 32.0938C255.896 29.9609 254.642 28.2266 252.767 26.8906C250.915 25.5547 248.759 24.8867 246.298 24.8867C243.626 24.8867 241.283 25.6367 239.267 27.1367C238.001 28.0742 236.83 29.7266 235.751 32.0938H256.529Z" stroke="black" stroke-width="3"/>
                <path d="M333.932 17.75H343.494V56H333.932V51.957C332.057 53.7383 330.17 55.0273 328.271 55.8242C326.396 56.5977 324.357 56.9844 322.154 56.9844C317.209 56.9844 312.932 55.0742 309.322 51.2539C305.713 47.4102 303.908 42.6406 303.908 36.9453C303.908 31.0391 305.654 26.1992 309.146 22.4258C312.639 18.6523 316.881 16.7656 321.873 16.7656C324.17 16.7656 326.326 17.1992 328.342 18.0664C330.357 18.9336 332.221 20.2344 333.932 21.9688V17.75ZM323.842 25.625C320.865 25.625 318.393 26.6797 316.424 28.7891C314.455 30.875 313.471 33.5586 313.471 36.8398C313.471 40.1445 314.467 42.8633 316.459 44.9961C318.475 47.1289 320.947 48.1953 323.877 48.1953C326.9 48.1953 329.408 47.1523 331.4 45.0664C333.393 42.957 334.389 40.2031 334.389 36.8047C334.389 33.4766 333.393 30.7812 331.4 28.7188C329.408 26.6562 326.889 25.625 323.842 25.625Z" stroke="black" stroke-width="3"/>
                <path d="M354.844 17.75H364.617L374.285 40.3203L383.918 17.75H393.656L377.379 56H371.156L354.844 17.75Z" stroke="black" stroke-width="3"/>
                <path d="M433.342 17.75H442.905V56H433.342V51.957C431.467 53.7383 429.58 55.0273 427.682 55.8242C425.807 56.5977 423.768 56.9844 421.565 56.9844C416.62 56.9844 412.342 55.0742 408.733 51.2539C405.123 47.4102 403.319 42.6406 403.319 36.9453C403.319 31.0391 405.065 26.1992 408.557 22.4258C412.049 18.6523 416.291 16.7656 421.284 16.7656C423.58 16.7656 425.737 17.1992 427.752 18.0664C429.768 18.9336 431.631 20.2344 433.342 21.9688V17.75ZM423.252 25.625C420.276 25.625 417.803 26.6797 415.834 28.7891C413.866 30.875 412.881 33.5586 412.881 36.8398C412.881 40.1445 413.877 42.8633 415.87 44.9961C417.885 47.1289 420.358 48.1953 423.288 48.1953C426.311 48.1953 428.819 47.1523 430.811 45.0664C432.803 42.957 433.799 40.2031 433.799 36.8047C433.799 33.4766 432.803 30.7812 430.811 28.7188C428.819 26.6562 426.299 25.625 423.252 25.625Z" stroke="black" stroke-width="3"/>
                <path d="M462.13 2C463.817 2 465.258 2.60938 466.454 3.82812C467.673 5.04688 468.282 6.52344 468.282 8.25781C468.282 9.96875 467.684 11.4336 466.489 12.6523C465.294 13.8477 463.864 14.4453 462.2 14.4453C460.489 14.4453 459.024 13.8359 457.805 12.6172C456.61 11.375 456.012 9.875 456.012 8.11719C456.012 6.42969 456.61 4.98828 457.805 3.79297C459.001 2.59766 460.442 2 462.13 2ZM457.313 17.75H466.946V56H457.313V17.75Z" stroke="black" stroke-width="3"/>
                <path d="M480.405 2.98438H490.003V56H480.405V2.98438Z" stroke="black" stroke-width="3"/>
                <path d="M532.747 17.75H542.31V56H532.747V51.957C530.872 53.7383 528.985 55.0273 527.087 55.8242C525.212 56.5977 523.173 56.9844 520.97 56.9844C516.025 56.9844 511.747 55.0742 508.138 51.2539C504.528 47.4102 502.724 42.6406 502.724 36.9453C502.724 31.0391 504.47 26.1992 507.962 22.4258C511.454 18.6523 515.696 16.7656 520.689 16.7656C522.985 16.7656 525.142 17.1992 527.157 18.0664C529.173 18.9336 531.036 20.2344 532.747 21.9688V17.75ZM522.657 25.625C519.681 25.625 517.208 26.6797 515.239 28.7891C513.271 30.875 512.286 33.5586 512.286 36.8398C512.286 40.1445 513.282 42.8633 515.275 44.9961C517.29 47.1289 519.763 48.1953 522.693 48.1953C525.716 48.1953 528.224 47.1523 530.216 45.0664C532.208 42.957 533.204 40.2031 533.204 36.8047C533.204 33.4766 532.208 30.7812 530.216 28.7188C528.224 26.6562 525.704 25.625 522.657 25.625Z" stroke="black" stroke-width="3"/>
                <path d="M567.3 2.98438V21.9688C569.035 20.2344 570.91 18.9336 572.925 18.0664C574.941 17.1992 577.097 16.7656 579.394 16.7656C584.386 16.7656 588.628 18.6523 592.12 22.4258C595.613 26.1992 597.359 31.0391 597.359 36.9453C597.359 42.6406 595.554 47.4102 591.945 51.2539C588.335 55.0742 584.058 56.9844 579.113 56.9844C576.91 56.9844 574.859 56.5977 572.96 55.8242C571.062 55.0273 569.175 53.7383 567.3 51.957V56H557.773V2.98438H567.3ZM577.39 25.625C574.367 25.625 571.859 26.6562 569.867 28.7188C567.874 30.7812 566.878 33.4766 566.878 36.8047C566.878 40.2031 567.874 42.957 569.867 45.0664C571.859 47.1523 574.367 48.1953 577.39 48.1953C580.32 48.1953 582.781 47.1289 584.773 44.9961C586.788 42.8633 587.796 40.1445 587.796 36.8398C587.796 33.5586 586.812 30.875 584.843 28.7891C582.874 26.6797 580.39 25.625 577.39 25.625Z" stroke="black" stroke-width="3"/>
                <path d="M610.045 2.98438H619.642V56H610.045V2.98438Z" stroke="black" stroke-width="3"/>
                <path d="M672.441 39.6523H641.609C642.055 42.3711 643.238 44.5391 645.16 46.1562C647.105 47.75 649.578 48.5469 652.578 48.5469C656.164 48.5469 659.246 47.293 661.824 44.7852L669.91 48.582C667.894 51.4414 665.48 53.5625 662.668 54.9453C659.855 56.3047 656.516 56.9844 652.648 56.9844C646.648 56.9844 641.762 55.0977 637.988 51.3242C634.215 47.5273 632.328 42.7812 632.328 37.0859C632.328 31.25 634.203 26.4102 637.953 22.5664C641.726 18.6992 646.449 16.7656 652.121 16.7656C658.144 16.7656 663.043 18.6992 666.816 22.5664C670.59 26.4102 672.476 31.4961 672.476 37.8242L672.441 39.6523ZM662.808 32.0938C662.176 29.9609 660.922 28.2266 659.047 26.8906C657.195 25.5547 655.039 24.8867 652.578 24.8867C649.906 24.8867 647.562 25.6367 645.547 27.1367C644.281 28.0742 643.109 29.7266 642.031 32.0938H662.808Z" stroke="black" stroke-width="3"/>
                <path d="M735.36 23.0938L729.418 29.0352C727.004 26.6445 724.813 25.4492 722.844 25.4492C721.766 25.4492 720.922 25.6836 720.313 26.1523C719.703 26.5977 719.399 27.1602 719.399 27.8398C719.399 28.3555 719.586 28.8359 719.961 29.2812C720.36 29.7031 721.321 30.2891 722.844 31.0391L726.36 32.7969C730.063 34.625 732.606 36.4883 733.989 38.3867C735.371 40.2852 736.063 42.5117 736.063 45.0664C736.063 48.4648 734.809 51.3008 732.301 53.5742C729.817 55.8477 726.477 56.9844 722.282 56.9844C716.703 56.9844 712.25 54.8047 708.922 50.4453L714.828 44.0117C715.953 45.3242 717.266 46.3906 718.766 47.2109C720.289 48.0078 721.637 48.4062 722.809 48.4062C724.075 48.4062 725.094 48.1016 725.867 47.4922C726.641 46.8828 727.028 46.1797 727.028 45.3828C727.028 43.9062 725.633 42.4648 722.844 41.0586L719.61 39.4414C713.422 36.3242 710.328 32.4219 710.328 27.7344C710.328 24.7109 711.489 22.1328 713.809 20C716.153 17.8438 719.141 16.7656 722.774 16.7656C725.258 16.7656 727.59 17.3164 729.77 18.418C731.973 19.4961 733.836 21.0547 735.36 23.0938Z" stroke="black" stroke-width="3"/>
                <path d="M767.381 16.7656C770.991 16.7656 774.378 17.668 777.542 19.4727C780.729 21.2773 783.213 23.7266 784.995 26.8203C786.776 29.9141 787.667 33.2539 787.667 36.8398C787.667 40.4492 786.764 43.8242 784.96 46.9648C783.178 50.1055 780.741 52.5664 777.647 54.3477C774.553 56.1055 771.143 56.9844 767.417 56.9844C761.932 56.9844 757.245 55.0391 753.354 51.1484C749.487 47.2344 747.553 42.4883 747.553 36.9102C747.553 30.9336 749.745 25.9531 754.128 21.9688C757.971 18.5 762.389 16.7656 767.381 16.7656ZM767.522 25.8008C764.545 25.8008 762.061 26.8438 760.069 28.9297C758.1 30.9922 757.116 33.6406 757.116 36.875C757.116 40.2031 758.088 42.8984 760.034 44.9609C762.003 47.0234 764.487 48.0547 767.487 48.0547C770.487 48.0547 772.983 47.0117 774.975 44.9258C776.967 42.8398 777.963 40.1562 777.963 36.875C777.963 33.5938 776.979 30.9336 775.01 28.8945C773.065 26.832 770.569 25.8008 767.522 25.8008Z" stroke="black" stroke-width="3"/>
                <path d="M819.266 16.7656C822.876 16.7656 826.263 17.668 829.427 19.4727C832.614 21.2773 835.098 23.7266 836.88 26.8203C838.661 29.9141 839.552 33.2539 839.552 36.8398C839.552 40.4492 838.649 43.8242 836.845 46.9648C835.063 50.1055 832.626 52.5664 829.532 54.3477C826.438 56.1055 823.028 56.9844 819.302 56.9844C813.817 56.9844 809.13 55.0391 805.239 51.1484C801.372 47.2344 799.438 42.4883 799.438 36.9102C799.438 30.9336 801.63 25.9531 806.013 21.9688C809.856 18.5 814.274 16.7656 819.266 16.7656ZM819.407 25.8008C816.43 25.8008 813.946 26.8438 811.954 28.9297C809.985 30.9922 809.001 33.6406 809.001 36.875C809.001 40.2031 809.973 42.8984 811.919 44.9609C813.888 47.0234 816.372 48.0547 819.372 48.0547C822.372 48.0547 824.868 47.0117 826.86 44.9258C828.852 42.8398 829.848 40.1562 829.848 36.875C829.848 33.5938 828.864 30.9336 826.895 28.8945C824.95 26.832 822.454 25.8008 819.407 25.8008Z" stroke="black" stroke-width="3"/>
                <path d="M853.187 17.75H862.749V21.6523C864.929 19.8242 866.898 18.5586 868.655 17.8555C870.437 17.1289 872.253 16.7656 874.105 16.7656C877.901 16.7656 881.124 18.0898 883.773 20.7383C885.999 22.9883 887.112 26.3164 887.112 30.7227V56H877.62V39.2305C877.62 34.6602 877.409 31.625 876.987 30.125C876.589 28.625 875.874 27.4883 874.843 26.7148C873.835 25.918 872.581 25.5195 871.081 25.5195C869.136 25.5195 867.46 26.1758 866.054 27.4883C864.671 28.7773 863.71 30.5703 863.171 32.8672C862.89 34.0625 862.749 36.6523 862.749 40.6367V56H853.187V17.75Z" stroke="black" stroke-width="3"/>
                </g>
                <defs>
                <filter id="filter0_d" x="0.091217" y="0.5" width="892.521" height="65.9844" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
                </defs>
                </svg>


        </div>
        <div>
            <a class="btn2" href="/home#main">Home</a>
        </div>
    </div>




</body>


</html>